<section id="about" class="lower-page">
    <div class="page-section">
        <div id="lead">
            <p><em>Junkware</em> is a digital farce that brings together biohack, theater and generative writing to show the absurdity of current trends in technological innovation. Using biometrics data from the audience, the <em>Junk Sequencer</em> generates fictional specifications of objects based on existing patents.</p>
        </div>
        <div class="section group about-section">
            <div class="col span_3_of_12">
                <h4>Biometrics Generative Data</h4>
                <p>The Junk Sequencer use input of biometric data to generates a visual and textual representation of a futuristic objects from a large database of patents. </p>
                <p>The machine is made of a (fake) DNA sampler, an electroencephalographic (EEG) headset that interprets the user’s neural activity and an oxymeter plugged on the user's finger to gather his pulse and heartbeat.</p>
                <p>All data is sent to a server while the activity is being visualized on the screen, using a web browser. The shape of the object and its description are gradually revealed on the screen.</p>
                <p>All <a href="http://github.com/clemsos/junkware">code</a> and <a href="uploads/thejunkventurebook.pdf">documentation</a> are available and free ot use under <a href="https://creativecommons.org/publicdomain/zero/1.0">CC-0</a> license.</p>
            </div>
            <div class="col span_8_of_12 screenshot">
                <img src="uploads/screenshot.png" alt="screenshot">
            </div>
        </div>
        <div class="section group about-section">
            <div class="prof col span_3_of_12">
                <img src="uploads/roger.jpg" alt="Le professeur Roger Laflèche" title="Le professeur Roger Laflèche">
                <!-- <p>Professor Roger Laflèche, phD</p> -->
            </div>
            <div class="col span_3_of_12">
                <h4>Science fiction at work</h4>
                <p>The Pr. Roger Laflèche invites visitors in its hygienic pop-up lab to proceed a set of neuro-psychological tests, DNA sampling and brain waves measurements. </p>
                <p>
                    Results are matched to determine the potential paternity's coefficient that will lead to the act of invention.
                </p>
            </div>
            <div class="col span_3_of_12 lab">
                <img src="uploads/lab.png" alt="">
            </div>
            <div class="col span_3_of_12 lab">
                <div id="bargraph"></div>
            </div>
        </div>
        <div class="section group about-section about-section-last">
            <div class="col span_5_of_12">
                <h4>A new object is born</h4>
                <p>
                    Before taking part in this pseudo-scientific experiment, all participants have to fill a form and agree to the <a href="uploads/Junkware-TermsOfServices.pdf">Terms of Services</a>, that has been generated from random bits of text from the Internet.
                </p>
                <p>
                    At the end of the process, a <i>Junk Honorary Credential</i> diploma is given to each participant as a compensation for their contribution to this incredible.
                </p>
                <p>
                    The generated objects is 3D-printed and added to the strange gallery of shapes made by random agencements of patents and people.
                </p>
            </div>
            <div class="col span_1_of_12">
                <!-- <img src="uploads/3dprint.jpg" alt="credentials"> -->
            </div>
            <div id="blurbs" class="col span_6_of_12">
                <div class="blurb group">
                    <img src="uploads/patient.jpg" alt="patient" class="patient circular col span_4_of_12">
                    <div class="blurb-legend col span_8_of_12">
                        <blockquote>
                            "I was a genial inventor and I even didn't know it."
                        </blockquote>
                        <p>An enthusiastic participant.</p>
                    </div>
                </div>
                <div class="blurb group">
                    <img src="uploads/patient2.jpg" alt="patient" class="patient circular col span_4_of_12">
                    <div class="blurb-legend col span_8_of_12">
                        <blockquote>
                            "Before, I had no idea of what the future may look like"
                        </blockquote>
                        <p>A geniune practitioner.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
