<section id="about" class="lower-page">
    <div class="page-section">
        <div class="text">
            <h3>Junkware</h3>
            <p class="lead">
                <em>Junkware</em> is a digital farce that brings together biohack, theater and generative writing to show the absurdity of the technological innovation making.

                Using biometrics from the audience (DNA, EEG...), the <em><a href="/junks">Junk Sequencer</a></em> generates fictional specifications of objects based on existing patent data.
            </p>
            <div id="bargraph"></div>
        </div>
        <div class="pic">
            <div id="terminal"></div>
            <!-- {% include "home/_junks.html" %} -->
        </div>
    </div>
</section>
