<section id="about" class="lower-page">
    <div class="page-section">
        <div class="pic">
            <!-- <div id="terminal"></div> -->
            {% include "home/_junks.html" %}
        </div>
        <div class="text">
            <h3>about</h3>
            <p class="lead">
                Junkware is a blabla
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam libero, quo quod accusamus esse totam at commodi sit culpa maiores voluptatibus laborum ipsa facere quisquam, et excepturi quidem sequi dolores.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, eum, nam. Vero ex odit neque sunt, non minus. Placeat veniam ipsum dolores sunt libero labore numquam maiores qui, distinctio molestias.
            </p>
            <div id="bargraph"></div>
            
        </div>
    </div>
</section>
