<section id="zine" class="lower-page">
<div class="text">
    <h3>Junk Venture Book</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus assumenda error molestias illum magnam placeat optio, et, accusamus, a ipsa accusantium. Unde perferendis quo consequuntur omnis. Reiciendis atque ducimus, recusandae.
            </p>
            <h4>Sortie Juin 2015</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis libero, dolorum harum maxime repudiandae natus cum quo beatae recusandae reprehenderit earum officia, et doloremque hic laboriosam, nulla incidunt unde atque!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim atque veritatis necessitatibus quae. Voluptate voluptates earum natus, obcaecati, nulla doloribus adipisci nesciunt facere totam asperiores, tenetur commodi ea vero vitae.
            </p>
            
            <h4>
                <a href="/book">Download the book.</a>
            </h4>
            <h5>
                30 x 24 cm, reliure à l’italienne. 2000 ex. 168 pages.
                <!-- <br> -->
                Imprimé sur des papiers . Chaque livre comporte un patch en toile de coton noire et technique mixte.
                <!-- <br> -->
                Volum Éditions, diffusion : M.D.S. Sortie avril 2015.
            </h5>
        </div>
            <div class="pic">
                <img src="/uploads/install-desk.jpg" alt="" title="">
            </div>
</section>
