<section id="zine" class="lower-page">
    <div class="text">
        <h3>Junk Venture Book</h3>
        <p>
            Junk DNA corresponds to the 98.5% part of the human genome that has no genetic function. Thierry Bardini has explored in Junkware (Minnesota Press, 2010) the idea that "most of culture and nature, including humans, is composed of useless, but always potentially recyclable, material otherwise known as <em>junk</em>"
        </p>
        <h4>Are we made of junk ? <br>Do we have become literaly junk ?</h4>
        <p>
            Inspired by Bardini's book, a group of french & chinese artists has choosen to interprete this concept through an eponym installation : a speculative machine that uses mathematical modeling and data analysis to generate futuristic objects from DNA and brainwaves.
        </p>
        <p>
            The opportunity to present Junkware installation in Shanghaï (Ma ker Carnival, october 2014) is combined with the organisation of a textbook sprint aiming at sharing, collecting and editing materials - ideas as well as data - to observe, critic and speculate on our own's practice towards junk : the one that is produced and the one reused.
        </p>
        <h4>
            <a href="/book">Download the book.</a>
        </h4>
    </div>
    <div class="pic">
        <img src="/uploads/install-desk.jpg" alt="" title="">
    </div>
</section>
