<section id="book" class="lower-page">
    <div class="page-section section group">
        <div class="col span_4_of_12">
            <h3>Junk Venture Book</h3>
            <p style="text-align:center">
                <em>Are we made of junk ? <br>Do we have become literaly junk ?</em>
            </p>
            <p>
                 In his book <i>Junkware</i> (Minnesota Press, 2010), Thierry Bardini investigates the concept of Junk DNA and proposes that: <i>"most of culture and nature, including humans, is composed of useless, but always potentially recyclable, material otherwise known as junk"</i>
            </p>
            <p>
                <a href="/uploads/thejunkventurebook.pdf"><em>The Junkware Book</em></a> is pursue this investigation by gathering documentation, questions and writings produce during the creation of the Junkware installation.
            </p>
            <p>
                This junk textbook is a collection of materials to explore and speculate about tomorrow's beings, objects and practice from innovation, technologies or robotics to art, consumerism and addictions.
            </p>
            <h3>
                Download <a href="/uploads/thejunkventurebook.pdf">the book</a>
            </h3>

        </div>
        <div class="col span_8_of_12">
            <img src="/uploads/install-desk.jpg" alt="" title="">
        </div>
    </div>
</section>
