<section id="credits" class="lower-page">
    <div class="page-section">
        <div class="row team">
            <h3>A French-Chinese co-production by</h3>
            <img src="/img/team.jpg" class="team-pic" alt "team photo"/>
            <h5>Our tactical team of junk experts </h5>
            <br>
            <a href="http://quhongyuan.com">Qu Hongyuan</a> , <a href="http://dcalk.org">Julien Maudet</a> , <a href="http://litteraturing.net">Catherine Lenoble</a> ,
            <br> <a href="http://makeplus.org">Sophia Lin</a> , <a href="http://clementrenaud.com">Clément Renaud</a> , <a href="http://www.crossedlab.org">Merryl Messaoudi</a>
            </p>
        </div>
        <div class="prod row">
            <h5>Powered by</h5>
            <a class="crossedlab logo" href="http://crossedlab.org"><img src="img/logos/crossedlab.png" alt="crossed lab"></a>
            <a class="makeplus logo" href="http://makeplus.org"><img src="img/logos/makeplus.png" alt="crossed lab"></a>
        </div>
        <div class="partners row">
            <h5>With the support of </h5>
            <br/>
            <div class="institutions row">
                <a class="logo institutfrancais" href="http://institutfrancais.org"><img src="img/logos/institutfrancais.png" alt="logo institut francais"></a>
                <a class="cnc logo" href="http://cnc.fr"><img src="img/logos/logo-CNC-noir.png" alt="logo CNC"></a>
                <a class="france50 logo" href="http://france-chine50.com"><img src="img/logos/france-chine50.png" alt="crossed lab"></a>
            </div>
            <div class="mecenes row">
                <h5>And the mecenes comitee of the 50th French-Chinese anniversary</h5>
                <br/>
                <img src="img/logos/FR-CH_MECENES_V2.png" alt="">
            </div>
        </div>
    </div>
</section>
