<section id="contact" class="lower-page">
    <div class="page-section">
        <h3>Contact</h3>
        <a href="mailto:merryl@crossedlab.com">merryl@crossedlab.com</a>
        <h3>Contact</h3>
        <div class="row">
            <div class="people">
                <h3><a href="http://clementrenaud.com">Clément Renaud</a></h3>
            </div>
            <div class="people">
                <h3><a href="http://litteraturing.net">Catherine Lenoble</a></h3>

            </div>
            <div class="people">
                <h3><a href="http://dcalk.org">Julien Maudet</a></h3>
                <div>
                    <div class="people">
                        <div class="info col-md-12">
                            <h3><a href="http://quhongyuan.com">Qu Hongyuan</a></h3>
                        </div>
                    </div>
                    <div class="people">
                        <h3><a href="http://www.crossedlab.org">Merryl Messaoudi</a></h3>
                        <div>
                            <div class="people">
                                <h3><a href="http://makeplus.org">Sophia Lin</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="container center">
                        <div class="prod">
                            <h5>A French-Chinese co-production by </h5>

                            <div class="crossedlab logo">
                                <a href="http://crossedlab.org"><img src="img/logos/crossedlab.png" alt="crossed lab"></a>
                            </div>
                            
                            <div class="makeplus logo">
                                <a href="http://makeplus.org"><img src="img/logos/makeplus.png" alt="crossed lab"></a>
                            </div>
                        </div>

                        <div class="partners">
                            <h5>With the support of </h5>
                            <br/>
                        </div>
                        <div class="institutions">
                            <div class="logo institutfrancais">
                                <a href="http://institutfrancais.org"><img src="img/logos/institutfrancais.png" alt="logo institut francais"></a>
                            </div>
                            <div class="cnc logo">
                                <a href="http://cnc.fr"><img src="img/logos/logo-CNC-noir.png" alt="logo CNC"></a>
                            </div>
                            <div class="france50 logo">
                                <a href="http://france-chine50.com"><img src="img/logos/france-chine50.png" alt="crossed lab"></a>
                            </div>
                        </div>
                        
                        <div class="mecenes">
                            <div class="">
                                <h5>With the support of the mecenes comitee of the 50th French-Chinese anniversary</h5>
                                <br/>
                            </div>
                            <img src="img/logos/FR-CH_MECENES_V2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
