<section id="install" class="lower-page">
    <div class="page-section">
        <h3>Installation</h3>
        <div class="gallery">
            <a href="uploads/video/lesson_small.gif" class="fancybox">
                <img src="uploads/video/lesson_small.gif" alt="">
            </a>
            <a href="uploads/video/glasses.gif" class="fancybox">
                <img src="uploads/video/glasses.gif" alt="">
            </a>
            <a href="uploads/video/headset_small.gif" class="fancybox">
                <img src="uploads/video/headset_small.gif" alt="">
            </a>
            <a href="uploads/video/images_small.gif" class="fancybox">
                <img src="uploads/video/images_small.gif" alt="">
            </a>
            {% for pic in gallery %}
            <a href="uploads/gallery/{{ pic }}" class="fancybox">
                <img src="uploads/gallery/thumb/{{ pic }}" alt="Junkware image" title="Junkware pic" data-fullsrc="uploads/gallery/{{ pic }}" />
            </a>
            {% endfor %}
        </div>
    </div>
</section>
