<section id="home" class="upper-page">
    <div class="page-section">
        <header class="header">
            <h1>Junkware</h1>
            <p>DNA semantic bending</p>

            <p class="intro-line">
                "We are the eternal return of the enslaved stock under its new name, junkware
                <br>
                 We are the medium, the message and the code.
                 <br>
                 We are worth our code, not worth a rush."
            </p>
            <p>Thierry Bardini, Junkware (2010)</p>
        </header>
    </div>
</section>
