<a href="/junk/{{junk._id }}">
    <div class="card-container">
        <div class="junk card">
            <div class="front">
                <div class="cover">
                    <img src="/data/img3D/{{junk._id }}" alt="junk image" />

                </div>
                <div class="content">
                    <div class="main">
                        <h3>{{ junk.title }}</h3>
                        <!-- <p class="profession">{{ junk.created_at }}</p> -->
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="header">
                    <h4>{{ junk.title }}</h4>
                </div>
                <div class="content">
                    <div class="main">
                        <p>{{ junk.abstract }}</p>
                    </div>
                </div>
                <!-- <div class="footer">
                    <div class="price col-md-6">
                            <h4 class="price-text-color">$XXX</h4>
                    </div>
                    <div class="col-md-6 social-links text-center">
                        <h4><i class="fa fa-list"></i> More details</h4>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</a>
