{% extends "junk/layout.html" %}

{% block content %}
  <h1>The Junk Gallery</h1>
  <div id="junks">
      {% for junk in junks %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              {% include "junks/_item.html" %}
        </div>
      {% endfor %}
  </div>
{% endblock %}

{% block styles %}
    {{super()}}

    {% assets "bootstrap_css" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "junks_css" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}


{% block scripts %}
<script  type="text/javascript" src="/js/jquery.masonry.min.js"></script>
<script>

    $(".price").each(function(d){
        $(this).find("h4").html("$"+Math.floor(Math.random()*1000));
    });

      // junk gallery
    $('#junks').masonry({
          columnWidth: 200,
          itemSelector: '.item'
    });

</script>

{% endblock %}
