{% extends "layout.html" %}
{% block content %}
    <div id="junks" class="row">
        {% for junk in junks %}
                {% include "junks/_item.html" %}
        {% endfor %}
    </div>
{% endblock %}

{% block styles %}
    {{super()}}

    {% assets "bootstrap_css" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "main_scss" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}


{% block scripts %}
<script  type="text/javascript" src="/js/jquery.masonry.min.js"></script>
<script>
    $(".price").each(function(d){
        $(this).find("h4").html("$"+Math.floor(Math.random()*1000));
    });

      // junk gallery
    $('#junks').masonry({
          columnWidth: 200,
          itemSelector: '.item'
    });

</script>

{% endblock %}
