{% extends "single_layout.html" %}

{% block junkview %}

        <div class="jumbotron">
            <p class="junk-abstract"></p>
        </div>
        <br>
        <div class="junk-description">
            
        </div>

{% endblock %}

{% block junkstyles %}
    <style>
    .message {
        margin-bottom: 12px;
        font-size: 11pt;
    }
    </style>
{% endblock %}

{% block junkscripts %}

<script src="/js/jquery.shuffleLetters.js"></script>
<script src="/js/Terminal.js"></script>

<script>

    var terminal= new Terminal(".junk-description", "    ",["ok","test"] );
    terminal.init();

    $(".junk-abstract").text(junk.abstract);
    $(".junk-abstract").shuffleLetters();

    $(".junk-description").html("");
    terminal.addMessages(junk.description)



</script>
{% endblock %}
