$text-color             : #bbb;
$highlight-color        : #fff;
$link-color             : #555; //#DDB313;
$link-hover-color       : #000;

$title-hover-color      : #DDB313;

$home-title-color       : #e5e5e5;
$home-intro-color       : #bbb;

$section-title-color    : #e5e5e5;
$subsection-title-color : #e5e5e5; 


