@import "plugins/zen";

section {
    @include zen-grid-container;
}

section.fullwidth {
    width: 100%;
}
.page {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-section {
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}

.upper-page {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

.lower-page {
    margin: 0;
    padding: 0;
    background: black;
}

.bottom-page {
    min-height: 30%;
    margin: 0;
    padding: 0;
    background: black;
}
