@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, ../scss/plugins/fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 20, ../scss/plugins/fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 27, ../scss/plugins/fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 37, ../scss/plugins/fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 41, ../scss/plugins/fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 47, ../scss/plugins/fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 51, ../scss/plugins/fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 55, ../scss/plugins/fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 59, ../scss/plugins/fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 67, ../scss/plugins/fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 73, ../scss/plugins/fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 78, ../scss/plugins/fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 82, ../scss/plugins/fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 94, ../scss/plugins/fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

/* line 100, ../scss/plugins/fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 110, ../scss/plugins/fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

/* line 122, ../scss/plugins/fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 126, ../scss/plugins/fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 130, ../scss/plugins/fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 141, ../scss/plugins/fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 146, ../scss/plugins/fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 151, ../scss/plugins/fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 155, ../scss/plugins/fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 167, ../scss/plugins/fancybox.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

/* line 172, ../scss/plugins/fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 176, ../scss/plugins/fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 180, ../scss/plugins/fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("fancybox_overlay.png");
}

/* line 190, ../scss/plugins/fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 196, ../scss/plugins/fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 203, ../scss/plugins/fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 211, ../scss/plugins/fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 215, ../scss/plugins/fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 224, ../scss/plugins/fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 240, ../scss/plugins/fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 246, ../scss/plugins/fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 250, ../scss/plugins/fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 265, ../scss/plugins/fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 270, ../scss/plugins/fancybox.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* line 45, ../scss/plugins/zen.scss */
section:before, section:after {
  content: "";
  display: table;
}
/* line 50, ../scss/plugins/zen.scss */
section:after {
  clear: both;
}

/* line 7, ../scss/includes/_layout.scss */
section.fullwidth {
  width: 100%;
}

/* line 10, ../scss/includes/_layout.scss */
.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/includes/_layout.scss */
.page-section {
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

/* line 23, ../scss/includes/_layout.scss */
.upper-page {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* line 31, ../scss/includes/_layout.scss */
.lower-page {
  margin: 0;
  padding: 0;
  background: black;
}

/* line 37, ../scss/includes/_layout.scss */
.bottom-page {
  min-height: 30%;
  margin: 0;
  padding: 0;
  background: black;
}

/* fonts */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/bebasneue-webfont.eot");
  src: url("fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("fonts/leaguegothic-regular-webfont.eot");
  src: url("fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/leaguegothic-regular-webfont.woff") format("woff"), url("fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("fonts/leaguegothic-regular-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../scss/includes/_typo.scss */
html {
  line-height: 1;
  height: 100%;
}

/* line 33, ../scss/includes/_typo.scss */
body {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

/* line 49, ../scss/includes/_typo.scss */
h1 {
  font-family: 'LeagueGothicRegular';
  font-size: 150px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 0 0;
  padding: 0;
}

/* line 63, ../scss/includes/_typo.scss */
h2 {
  font-family: 'LeagueGothicRegular';
  font-size: 60px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 25px 0;
  padding: 0;
}

/* line 77, ../scss/includes/_typo.scss */
h3 {
  font-family: 'LeagueGothicRegular';
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 25px 0;
  padding: 0;
}

/* line 92, ../scss/includes/_typo.scss */
h4 {
  font-family: 'LeagueGothicRegular', sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  color: #e5e5e5;
  line-height: 1.2;
  margin: 20px 0 20px 0;
  padding: 0;
}

/* line 103, ../scss/includes/_typo.scss */
h5 {
  font-size: 1.5em;
}

/* line 107, ../scss/includes/_typo.scss */
p.lead {
  font-size: 1.5em;
}

/* line 112, ../scss/includes/_typo.scss */
p {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5;
}

/* line 118, ../scss/includes/_typo.scss */
p a {
  color: green;
  text-decoration: none;
}

/* line 123, ../scss/includes/_typo.scss */
p a:hover {
  color: #00CC00;
  text-decoration: none;
  transition: color 0.5s;
}

/* line 129, ../scss/includes/_typo.scss */
strong {
  font-weight: bold;
}

@font-face {
  font-family: 'Oxygen Mono2';
  src: url("fonts/OxygenMono-Regular-webfont.eot"), url("fonts/OxygenMono-Regular-webfont.woff") format("woff"), url("fonts/OxygenMono-Regular-webfont.ttf") format("truetype"), url("fonts/OxygenMono-Regular-webfont.otf") format("opentype"), url("fonts/OxygenMono-Regular-webfont.svg#Oxygen Mono2") format("svg");
}
/* line 10, ../scss/includes/_terminal.scss */
#terminal {
  background: black;
  color: #00CC00;
  width: 100%;
  height: 100vh;
  line-height: 1em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Oxygen Mono', 'Oxygen Mono2', Monaco, Menlo, Andale, Arial, sans-serif;
  text-align: left;
  font-size: 8pt;
  font-weight: light;
  overflow: hidden;
}
/* line 27, ../scss/includes/_terminal.scss */
#terminal .container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
/* line 40, ../scss/includes/_terminal.scss */
#terminal .message {
  margin: 0;
  padding: 0;
}
/* line 45, ../scss/includes/_terminal.scss */
#terminal .terminal-header {
  margin-right: 10px;
  text-transform: uppercase;
}
/* line 46, ../scss/includes/_terminal.scss */
#terminal .terminal-header a {
  color: #ff0000;
}
/* line 53, ../scss/includes/_terminal.scss */
#terminal p {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: lighter;
}
/* line 60, ../scss/includes/_terminal.scss */
#terminal .blink {
  visibility: visible;
}

/* line 3, ../scss/includes/_items-grid.scss */
.col-item {
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  /*
  .col-item:hover .info {
      background-color: rgba(256,256,256,.2);
  }
  */
}
/* line 9, ../scss/includes/_items-grid.scss */
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}
/* line 15, ../scss/includes/_items-grid.scss */
.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}
/* line 32, ../scss/includes/_items-grid.scss */
.col-item .price {
  /*width: 50%;*/
  float: left;
  margin-top: 10px;
}
/* line 39, ../scss/includes/_items-grid.scss */
.col-item .price h5 {
  line-height: 20px;
  margin: 0;
}
/* line 55, ../scss/includes/_items-grid.scss */
.col-item .rating {
  /*width: 50%;*/
  float: left;
  font-size: 17px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}
/* line 66, ../scss/includes/_items-grid.scss */
.col-item .separator {
  border-top: 1px solid #000;
}
/* line 70, ../scss/includes/_items-grid.scss */
.col-item .separator p {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
/* line 76, ../scss/includes/_items-grid.scss */
.col-item .separator p i {
  margin-right: 5px;
}
/* line 84, ../scss/includes/_items-grid.scss */
.col-item .btn-add {
  width: 50%;
  float: left;
  border-right: 1px solid #E1E1E1;
}
/* line 91, ../scss/includes/_items-grid.scss */
.col-item .btn-details {
  width: 50%;
  float: left;
  padding-left: 10px;
}

/* line 100, ../scss/includes/_items-grid.scss */
.clear-left {
  clear: left;
}

/* line 105, ../scss/includes/_items-grid.scss */
.controls {
  margin-top: 20px;
}

/* line 1, ../scss/includes/_junk.scss */
#junks {
  /* entire container, keeps perspective */
  /* flip the pane when hovered */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
  /*        Style       */
}
/* line 2, ../scss/includes/_junk.scss */
#junks h3 {
  font-size: 26pt;
}
/* line 5, ../scss/includes/_junk.scss */
#junks:hover, #junks a:hover, #junks p:hover {
  text-decoration: none;
}
/* line 9, ../scss/includes/_junk.scss */
#junks .card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}
/* line 17, ../scss/includes/_junk.scss */
#junks .card-container:not(.manual-flip):hover .card,
#junks .card-container.hover.manual-flip .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 24, ../scss/includes/_junk.scss */
#junks .card-container.static:hover .card,
#junks .card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 32, ../scss/includes/_junk.scss */
#junks .card {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 44, ../scss/includes/_junk.scss */
#junks .front,
#junks .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}
/* line 57, ../scss/includes/_junk.scss */
#junks .front {
  z-index: 2;
}
/* line 61, ../scss/includes/_junk.scss */
#junks .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
}
/* line 68, ../scss/includes/_junk.scss */
#junks .back .btn-simple {
  position: absolute;
  left: 0;
  bottom: 4px;
}
/* line 74, ../scss/includes/_junk.scss */
#junks .card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
/* line 79, ../scss/includes/_junk.scss */
#junks .card-container,
#junks .front,
#junks .back {
  width: 100%;
  height: 420px;
  border-radius: 4px;
}
/* line 86, ../scss/includes/_junk.scss */
#junks .card .cover {
  height: 230px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
/* line 91, ../scss/includes/_junk.scss */
#junks .card .cover img {
  width: 100%;
}
/* line 94, ../scss/includes/_junk.scss */
#junks .card .user {
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px;
}
/* line 102, ../scss/includes/_junk.scss */
#junks .card .user img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}
/* line 107, ../scss/includes/_junk.scss */
#junks .card .content {
  background-color: transparent;
  box-shadow: none;
  padding: 10px 20px 20px;
}
/* line 112, ../scss/includes/_junk.scss */
#junks .card .content .main {
  min-height: 160px;
}
/* line 115, ../scss/includes/_junk.scss */
#junks .card .back .content .main {
  height: 215px;
}
/* line 118, ../scss/includes/_junk.scss */
#junks .card .back .content .main p {
  margin: auto 0;
  color: rgba(255, 255, 255, 0.9);
}
/* line 122, ../scss/includes/_junk.scss */
#junks .card .name {
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 0;
  text-align: center;
  text-transform: capitalize;
}
/* line 129, ../scss/includes/_junk.scss */
#junks .card h5 {
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}
/* line 134, ../scss/includes/_junk.scss */
#junks .card .profession {
  color: #999999;
  text-align: center;
  margin-bottom: 20px;
}
/* line 139, ../scss/includes/_junk.scss */
#junks .card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}
/* line 146, ../scss/includes/_junk.scss */
#junks .card .footer .social-links {
  font-size: 18px;
}
/* line 149, ../scss/includes/_junk.scss */
#junks .card .footer .social-links a {
  margin: 0 7px;
}
/* line 152, ../scss/includes/_junk.scss */
#junks .card .footer .btn-simple {
  margin-top: -6px;
}
/* line 155, ../scss/includes/_junk.scss */
#junks .card .header {
  padding: 15px 20px;
  height: 90px;
}
/* line 159, ../scss/includes/_junk.scss */
#junks .card .motto {
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

/*  SECTIONS  */
/* line 2, ../scss/includes/_grid.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
/* line 9, ../scss/includes/_grid.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* line 14, ../scss/includes/_grid.scss */
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 17, ../scss/includes/_grid.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 19, ../scss/includes/_grid.scss */
.group:after {
  clear: both;
}

/* line 20, ../scss/includes/_grid.scss */
.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
/* line 22, ../scss/includes/_grid.scss */
.span_12_of_12 {
  width: 100%;
}

/* line 26, ../scss/includes/_grid.scss */
.span_11_of_12 {
  width: 91.53%;
}

/* line 29, ../scss/includes/_grid.scss */
.span_10_of_12 {
  width: 83.06%;
}

/* line 33, ../scss/includes/_grid.scss */
.span_9_of_12 {
  width: 74.6%;
}

/* line 37, ../scss/includes/_grid.scss */
.span_8_of_12 {
  width: 66.13%;
}

/* line 41, ../scss/includes/_grid.scss */
.span_7_of_12 {
  width: 57.66%;
}

/* line 45, ../scss/includes/_grid.scss */
.span_6_of_12 {
  width: 49.2%;
}

/* line 49, ../scss/includes/_grid.scss */
.span_5_of_12 {
  width: 40.73%;
}

/* line 53, ../scss/includes/_grid.scss */
.span_4_of_12 {
  width: 32.26%;
}

/* line 57, ../scss/includes/_grid.scss */
.span_3_of_12 {
  width: 23.8%;
}

/* line 61, ../scss/includes/_grid.scss */
.span_2_of_12 {
  width: 15.33%;
}

/* line 65, ../scss/includes/_grid.scss */
.span_1_of_12 {
  width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 71, ../scss/includes/_grid.scss */
  .col {
    margin: 1% 0 1% 0%;
  }

  /* line 73, ../scss/includes/_grid.scss */
  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%;
  }
}
/* line 15, ../scss/style.scss */
body {
  background: #000;
}

/* line 19, ../scss/style.scss */
em {
  color: #fff;
  font-weight: 800;
}

/* line 24, ../scss/style.scss */
.page-section {
  border-bottom: 1px solid #555;
  width: 90%;
  margin: 20px auto 0 auto;
}

/* line 30, ../scss/style.scss */
#home .page-section {
  border: none;
}

/* line 34, ../scss/style.scss */
p i {
  font-style: italic;
}

/* line 38, ../scss/style.scss */
a,
a:visited {
  text-decoration: none;
  color: green;
}

/* line 44, ../scss/style.scss */
a:hover {
  color: #00CC00;
}

/* line 51, ../scss/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 56, ../scss/style.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 15;
}
/* line 63, ../scss/style.scss */
.footer .footer-bg {
  position: fixed;
  width: 300px;
  height: 85px;
  left: 0;
  bottom: 0;
  background: url(../img/footer-bg.png) no-repeat left bottom;
}

/* line 73, ../scss/style.scss */
.nav-menu {
  font-family: 'LeagueGothicRegular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  width: auto;
  bottom: 3px;
  left: 14px;
  padding: 0;
  position: absolute;
  z-index: 10;
}
/* line 85, ../scss/style.scss */
.nav-menu a.menu-trigger {
  background: url(../img/menu-trigger-white.png) no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 0 0 20px;
  padding: 0;
  text-indent: -10000px;
}
/* line 93, ../scss/style.scss */
.nav-menu a.menu-trigger:hover {
  background: url(../img/menu-trigger-green.png) no-repeat;
  width: 30px;
  height: 30px;
  text-indent: -10000px;
}
/* line 99, ../scss/style.scss */
.nav-menu a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}
/* line 104, ../scss/style.scss */
.nav-menu a:hover {
  color: white;
}
/* line 107, ../scss/style.scss */
.nav-menu ul,
.nav-menu li {
  margin: 0;
  padding: 0;
}
/* line 112, ../scss/style.scss */
.nav-menu .lifting {
  margin: 0 0 8px 10px;
  height: 20px;
}
/* line 116, ../scss/style.scss */
.nav-menu .left-bottom .lifting-first {
  margin: 0 0 14px 0;
  height: 20px;
}
/* line 120, ../scss/style.scss */
.nav-menu li a,
.nav-menu li {
  float: left;
  text-transform: uppercase;
  height: 20px;
}
/* line 126, ../scss/style.scss */
.nav-menu li {
  position: relative;
  margin: 7px 0 0 0;
  padding: 0 0 10px 0;
  background: none;
}
/* line 132, ../scss/style.scss */
.nav-menu li a {
  padding: 0 5px 10px 5px;
  text-decoration: none;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
/* line 138, ../scss/style.scss */
.nav-menu li a:hover {
  background: none;
}
/* line 141, ../scss/style.scss */
.nav-menu li ul {
  display: none;
  left: 0;
  position: absolute;
  bottom: 100%;
  background: none;
}
/* line 148, ../scss/style.scss */
.nav-menu li:hover ul {
  display: block;
  width: auto;
}
/* line 152, ../scss/style.scss */
.nav-menu li ul a {
  white-space: nowrap;
}
/* line 155, ../scss/style.scss */
.nav-menu li ul a:hover {
  color: #555;
}

/* line 160, ../scss/style.scss */
#home {
  background: url(/uploads/finger_tent.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 166, ../scss/style.scss */
#home .header {
  position: relative;
  top: 190px;
  text-align: center;
}
/* line 170, ../scss/style.scss */
#home .header p.intro-line {
  font-size: 20px;
}
/* line 173, ../scss/style.scss */
#home .header p:hover {
  color: #00CC00;
}
/* line 176, ../scss/style.scss */
#home .header p {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 100;
  color: #e5e5e5;
  font-size: 14px;
}

/* line 186, ../scss/style.scss */
#about {
  padding-top: 15px;
  margin: 0 auto;
}
/* line 189, ../scss/style.scss */
#about .about-section {
  margin: 30px auto;
  border-bottom: 1px solid #555;
}
/* line 193, ../scss/style.scss */
#about .about-section-last {
  border: none;
}
/* line 196, ../scss/style.scss */
#about p {
  font-size: 1.3em;
  margin-bottom: 10px;
}
/* line 200, ../scss/style.scss */
#about #lead {
  margin: 40px 0 60px 0;
}
/* line 202, ../scss/style.scss */
#about #lead p {
  font-size: 2em;
}
/* line 206, ../scss/style.scss */
#about .screenshot {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: -2px;
}
/* line 210, ../scss/style.scss */
#about .prof {
  padding-top: 25px;
}
/* line 212, ../scss/style.scss */
#about .prof p {
  text-align: center;
  padding-top: 10px;
}
/* line 216, ../scss/style.scss */
#about .prof img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  background: url(http://link-to-your/image.jpg) no-repeat;
}
/* line 226, ../scss/style.scss */
#about .lab img {
  max-height: 300px;
}
/* line 230, ../scss/style.scss */
#about #blurbs {
  color: rgba(255, 255, 255, 0.9);
}
/* line 232, ../scss/style.scss */
#about #blurbs blockquote {
  text-align: left;
  font-size: 17pt;
  font-style: italic;
  line-height: 1.25;
  position: relative;
  padding: 15px 0 10px 15px;
}
/* line 240, ../scss/style.scss */
#about #blurbs .blurb-legend p {
  text-align: left;
  font-size: 12pt;
  font-style: normal;
  padding-left: 15px;
}
/* line 246, ../scss/style.scss */
#about #blurbs .patient {
  float: left;
  max-width: 100%;
}
/* line 250, ../scss/style.scss */
#about #blurbs .circular {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://link-to-your/image.jpg) no-repeat;
}
/* line 259, ../scss/style.scss */
#about #bargraph {
  margin: 0 auto;
}
/* line 261, ../scss/style.scss */
#about #bargraph .bar {
  fill: #00CC00;
}
/* line 264, ../scss/style.scss */
#about #bargraph .bar:hover {
  fill: brown;
}
/* line 267, ../scss/style.scss */
#about #bargraph .axis {
  fill: #00CC00;
  font: 10px sans-serif;
}
/* line 271, ../scss/style.scss */
#about #bargraph .axis path,
#about #bargraph .axis line {
  fill: none;
  stroke: #00CC00;
  shape-rendering: crispEdges;
}
/* line 277, ../scss/style.scss */
#about #bargraph .x.axis path {
  /*display: none;*/
}

/* line 287, ../scss/style.scss */
.page-section {
  zoom: 1;
}
/* line 3, ../scss/includes/_mixins.scss */
.page-section:before, .page-section:after {
  content: "";
  display: table;
}
/* line 5, ../scss/includes/_mixins.scss */
.page-section:after {
  clear: both;
}

/* line 291, ../scss/style.scss */
#junks {
  zoom: 1;
}
/* line 3, ../scss/includes/_mixins.scss */
#junks:before, #junks:after {
  content: "";
  display: table;
}
/* line 5, ../scss/includes/_mixins.scss */
#junks:after {
  clear: both;
}
/* line 293, ../scss/style.scss */
#junks .junk-item {
  width: 25%;
  min-width: 150px;
  float: left;
  display: block;
}
/* line 294, ../scss/style.scss */
#junks .junk-item .junk h3 {
  font-size: 20pt;
}
/* line 297, ../scss/style.scss */
#junks .junk-item .card-container {
  height: 350px;
}
/* line 304, ../scss/style.scss */
#junks .junk-item .price {
  width: 50%;
}
@media screen and (max-width: 767px) {
  /* line 291, ../scss/style.scss */
  #junks {
    float: none;
  }
  /* line 309, ../scss/style.scss */
  #junks div.one {
    width: 100%;
  }
}

/* line 316, ../scss/style.scss */
.text {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 319, ../scss/style.scss */
.text p {
  padding-left: 30px;
  padding-bottom: .8em;
}
/* line 323, ../scss/style.scss */
.text h5 {
  padding-left: 30px;
  text-align: justify;
}

/* line 329, ../scss/style.scss */
.pic {
  float: left;
  width: 66.66667%;
  margin-left: 33.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 335, ../scss/style.scss */
#install .gallery {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* line 346, ../scss/style.scss */
#book .page-section {
  padding: 20px 0;
}
/* line 349, ../scss/style.scss */
#book h3 {
  font-size: 40px;
}
/* line 352, ../scss/style.scss */
#book h4 {
  margin-top: 10px;
}

/* line 357, ../scss/style.scss */
#galerie {
  background: rgba(0, 0, 0, 0.9);
}
/* line 359, ../scss/style.scss */
#galerie .galerie {
  max-height: 100%;
}

/* line 364, ../scss/style.scss */
#credits {
  text-align: center;
  /* Rounded avatars */
}
/* line 367, ../scss/style.scss */
#credits #contact {
  font-size: 1.4em;
  margin: 80px 0;
}
/* line 372, ../scss/style.scss */
#credits .junkware-logo {
  max-width: 300px;
}
/* line 375, ../scss/style.scss */
#credits p {
  text-align: center;
  padding-bottom: 8px;
}
/* line 379, ../scss/style.scss */
#credits .row {
  margin-top: 15px;
}
/* line 382, ../scss/style.scss */
#credits .special-request {
  width: 50%;
  margin: 0 auto;
}
/* line 387, ../scss/style.scss */
#credits a.logo img {
  max-width: 150px;
  max-height: 80px;
  margin-right: 10px;
}
/* line 394, ../scss/style.scss */
#credits .team-pic {
  max-width: 60%;
  margin: 1em 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 401, ../scss/style.scss */
#credits .prod {
  margin-top: 10px;
}
/* line 403, ../scss/style.scss */
#credits .prod h5 {
  margin-bottom: 15px;
}
/* line 406, ../scss/style.scss */
#credits .prod a.logo {
  margin-right: 20px;
}
/* line 408, ../scss/style.scss */
#credits .prod a.logo img {
  max-width: 200px;
  max-height: 200px;
}

/* Media Queries */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  /* line 15, ../scss/media.scss */
  #about .pic {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 20, ../scss/media.scss */
  #about .text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 28, ../scss/media.scss */
  #zine .text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 32, ../scss/media.scss */
  #zine .pic {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 43, ../scss/media.scss */
  h1 {
    font-size: 100px;
    margin-top: 50px;
  }

  /* line 48, ../scss/media.scss */
  #home .header p.intro-line {
    font-size: 16px;
  }

  /* line 52, ../scss/media.scss */
  #about .text p, #zine .text p {
    padding: 5px 25px;
  }

  /* line 56, ../scss/media.scss */
  .lower-page {
    padding: 50px 0;
  }

  /* line 60, ../scss/media.scss */
  #zine .text h5 {
    padding: 10px 25px 40px 25px;
  }

  /* line 64, ../scss/media.scss */
  #contact .special-request {
    width: 60%;
  }

  /* line 68, ../scss/media.scss */
  h2 {
    font-size: 40px;
  }
}
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 84, ../scss/media.scss */
  h1 {
    padding-top: 35px;
    font-size: 105px;
  }

  /* line 89, ../scss/media.scss */
  .lower-page {
    padding: 50px 0;
  }

  /* line 93, ../scss/media.scss */
  #home .header p.intro-line {
    font-size: 16px;
  }

  /* line 97, ../scss/media.scss */
  h3 {
    font-size: 55px;
  }

  /* line 101, ../scss/media.scss */
  #zine .text {
    padding-bottom: 20px;
  }

  /* line 105, ../scss/media.scss */
  #about .text p, #zine .text p {
    padding: 5px 20px;
  }

  /* line 109, ../scss/media.scss */
  #zine .text h5 {
    padding: 5px 20px 20px 20px;
  }

  /* line 113, ../scss/media.scss */
  #contact .special-request {
    width: 70%;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 123, ../scss/media.scss */
  h1 {
    margin-top: 50px;
    font-size: 80px;
  }

  /* line 128, ../scss/media.scss */
  h2 {
    font-size: 30px;
  }

  /* line 132, ../scss/media.scss */
  p {
    padding: 5px 5px;
  }

  /* line 138, ../scss/media.scss */
  #home .header p .intro-line {
    font-size: 12px;
  }

  /* line 143, ../scss/media.scss */
  #about .text p, #zine .text p {
    padding: 5px 5px;
  }

  /* line 147, ../scss/media.scss */
  #zine .text h5 {
    padding: 10px 5px 20px 5px;
  }

  /* line 151, ../scss/media.scss */
  #contact .special-request {
    width: 100%;
  }
}
