@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, ../scss/plugins/fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 20, ../scss/plugins/fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 27, ../scss/plugins/fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 37, ../scss/plugins/fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 41, ../scss/plugins/fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 47, ../scss/plugins/fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 51, ../scss/plugins/fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 55, ../scss/plugins/fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 59, ../scss/plugins/fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 67, ../scss/plugins/fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 73, ../scss/plugins/fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 78, ../scss/plugins/fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 82, ../scss/plugins/fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 94, ../scss/plugins/fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

/* line 100, ../scss/plugins/fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 110, ../scss/plugins/fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

/* line 122, ../scss/plugins/fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 126, ../scss/plugins/fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 130, ../scss/plugins/fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 141, ../scss/plugins/fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 146, ../scss/plugins/fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 151, ../scss/plugins/fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 155, ../scss/plugins/fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 167, ../scss/plugins/fancybox.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

/* line 172, ../scss/plugins/fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 176, ../scss/plugins/fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 180, ../scss/plugins/fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("fancybox_overlay.png");
}

/* line 190, ../scss/plugins/fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 196, ../scss/plugins/fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 203, ../scss/plugins/fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 211, ../scss/plugins/fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 215, ../scss/plugins/fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 224, ../scss/plugins/fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 240, ../scss/plugins/fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 246, ../scss/plugins/fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 250, ../scss/plugins/fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 265, ../scss/plugins/fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 270, ../scss/plugins/fancybox.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* line 45, ../scss/plugins/zen.scss */
section:before, section:after {
  content: "";
  display: table;
}
/* line 50, ../scss/plugins/zen.scss */
section:after {
  clear: both;
}

/* line 7, ../scss/includes/_layout.scss */
section.fullwidth {
  width: 100%;
}

/* line 10, ../scss/includes/_layout.scss */
.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/includes/_layout.scss */
.page-section {
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

/* line 23, ../scss/includes/_layout.scss */
.upper-page {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* line 31, ../scss/includes/_layout.scss */
.lower-page {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.9);
}

/* fonts */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/bebasneue-webfont.eot");
  src: url("fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("fonts/leaguegothic-regular-webfont.eot");
  src: url("fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/leaguegothic-regular-webfont.woff") format("woff"), url("fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("fonts/leaguegothic-regular-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../scss/includes/_typo.scss */
html {
  line-height: 1;
  height: 100%;
}

/* line 33, ../scss/includes/_typo.scss */
body {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

/* line 49, ../scss/includes/_typo.scss */
h1 {
  font-family: 'LeagueGothicRegular';
  font-size: 150px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 0 0;
  padding: 0;
}

/* line 63, ../scss/includes/_typo.scss */
h2 {
  font-family: 'LeagueGothicRegular';
  font-size: 60px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 25px 0;
  padding: 0;
}

/* line 77, ../scss/includes/_typo.scss */
h3 {
  font-family: 'LeagueGothicRegular';
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 25px 0;
  padding: 0;
}

/* line 92, ../scss/includes/_typo.scss */
h4 {
  font-family: 'LeagueGothicRegular', sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
  color: #e5e5e5;
  line-height: 1;
  margin: 20px 0 20px 0;
  padding: 0;
}

/* line 103, ../scss/includes/_typo.scss */
p {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5;
}

/* line 109, ../scss/includes/_typo.scss */
p a {
  color: #555;
  text-decoration: none;
}

/* line 114, ../scss/includes/_typo.scss */
p a:hover {
  color: #00CC00;
  text-decoration: none;
  transition: color 0.5s;
}

/* line 3, ../scss/partials/items-grid.scss */
.col-item {
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  /*
  .col-item:hover .info {
      background-color: rgba(256,256,256,.2);
  }
  */
}
/* line 9, ../scss/partials/items-grid.scss */
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}
/* line 15, ../scss/partials/items-grid.scss */
.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}
/* line 32, ../scss/partials/items-grid.scss */
.col-item .price {
  /*width: 50%;*/
  float: left;
  margin-top: 10px;
}
/* line 39, ../scss/partials/items-grid.scss */
.col-item .price h5 {
  line-height: 20px;
  margin: 0;
}
/* line 55, ../scss/partials/items-grid.scss */
.col-item .rating {
  /*width: 50%;*/
  float: left;
  font-size: 17px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}
/* line 66, ../scss/partials/items-grid.scss */
.col-item .separator {
  border-top: 1px solid #000;
}
/* line 70, ../scss/partials/items-grid.scss */
.col-item .separator p {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
/* line 76, ../scss/partials/items-grid.scss */
.col-item .separator p i {
  margin-right: 5px;
}
/* line 84, ../scss/partials/items-grid.scss */
.col-item .btn-add {
  width: 50%;
  float: left;
  border-right: 1px solid #E1E1E1;
}
/* line 91, ../scss/partials/items-grid.scss */
.col-item .btn-details {
  width: 50%;
  float: left;
  padding-left: 10px;
}

/* line 100, ../scss/partials/items-grid.scss */
.clear-left {
  clear: left;
}

/* line 105, ../scss/partials/items-grid.scss */
.controls {
  margin-top: 20px;
}

@font-face {
  font-family: 'Oxygen Mono2';
  src: url("fonts/OxygenMono-Regular-webfont.eot"), url("fonts/OxygenMono-Regular-webfont.woff") format("woff"), url("fonts/OxygenMono-Regular-webfont.ttf") format("truetype"), url("fonts/OxygenMono-Regular-webfont.otf") format("opentype"), url("fonts/OxygenMono-Regular-webfont.svg#Oxygen Mono2") format("svg");
}
/* line 10, ../scss/partials/terminal.scss */
#terminal {
  background: black;
  color: #00CC00;
  width: 100%;
  height: 100%;
  line-height: 1em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Oxygen Mono', 'Oxygen Mono2', Monaco, Menlo, Andale, Arial, sans-serif;
  text-align: left;
  font-size: 8pt;
  font-weight: light;
  overflow: hidden;
}
/* line 27, ../scss/partials/terminal.scss */
#terminal .container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
/* line 40, ../scss/partials/terminal.scss */
#terminal .message {
  margin: 0;
  padding: 0;
}
/* line 45, ../scss/partials/terminal.scss */
#terminal .terminal-header {
  color: #ff0000;
  margin-right: 10px;
}
/* line 50, ../scss/partials/terminal.scss */
#terminal p {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: lighter;
}
/* line 57, ../scss/partials/terminal.scss */
#terminal .blink {
  visibility: visible;
}

/* line 20, ../scss/style.scss */
em {
  color: #fff;
  font-weight: 800;
}

/* line 25, ../scss/style.scss */
a, a:visited {
  text-decoration: none;
  color: #555;
}

/* line 30, ../scss/style.scss */
a:hover {
  color: #00CC00;
}

/* line 34, ../scss/style.scss */
h3:hover, p:hover {
  color: #00CC00;
}

/* line 38, ../scss/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 43, ../scss/style.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 15;
}
/* line 51, ../scss/style.scss */
.footer .footer-bg {
  position: fixed;
  width: 300px;
  height: 85px;
  left: 0;
  bottom: 0;
  background: url(../img/footer-bg.png) no-repeat left bottom;
}

/* line 61, ../scss/style.scss */
.nav-menu {
  font-family: 'LeagueGothicRegular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  width: auto;
  bottom: 3px;
  left: 14px;
  padding: 0;
  position: absolute;
  z-index: 10;
}
/* line 76, ../scss/style.scss */
.nav-menu a.menu-trigger {
  background: url(../img/menu-trigger-black.png) no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 0 0 20px;
  padding: 0;
  text-indent: -10000px;
}
/* line 85, ../scss/style.scss */
.nav-menu a.menu-trigger:hover {
  background: url(../img/menu-trigger-white.png) no-repeat;
  width: 30px;
  height: 30px;
  text-indent: -10000px;
}
/* line 92, ../scss/style.scss */
.nav-menu a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}
/* line 98, ../scss/style.scss */
.nav-menu a:hover {
  color: #555;
}
/* line 102, ../scss/style.scss */
.nav-menu ul, .nav-menu li {
  margin: 0;
  padding: 0;
}
/* line 107, ../scss/style.scss */
.nav-menu .lifting {
  margin: 0 0 8px 10px;
  height: 20px;
}
/* line 112, ../scss/style.scss */
.nav-menu .left-bottom .lifting-first {
  margin: 0 0 14px 0;
  height: 20px;
}
/* line 117, ../scss/style.scss */
.nav-menu li a, .nav-menu li {
  float: left;
  text-transform: uppercase;
  height: 20px;
}
/* line 123, ../scss/style.scss */
.nav-menu li {
  position: relative;
  margin: 7px 0 0 0;
  padding: 0 0 10px 0;
  background: none;
}
/* line 130, ../scss/style.scss */
.nav-menu li a {
  padding: 0 5px 10px 5px;
  text-decoration: none;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
/* line 137, ../scss/style.scss */
.nav-menu li a:hover {
  background: none;
}
/* line 141, ../scss/style.scss */
.nav-menu li ul {
  display: none;
  left: 0;
  position: absolute;
  bottom: 100%;
  background: none;
}
/* line 149, ../scss/style.scss */
.nav-menu li:hover ul {
  display: block;
  width: auto;
}
/* line 154, ../scss/style.scss */
.nav-menu li ul a {
  white-space: nowrap;
}
/* line 158, ../scss/style.scss */
.nav-menu li ul a:hover {
  color: #555;
}

/* line 163, ../scss/style.scss */
#home {
  background: url(/uploads/finger_tent.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 171, ../scss/style.scss */
#home .header {
  position: relative;
  top: 190px;
  text-align: center;
}
/* line 176, ../scss/style.scss */
#home .header p.intro-line {
  font-size: 20px;
}
/* line 179, ../scss/style.scss */
#home .header p:hover {
  color: #00CC00;
}
/* line 183, ../scss/style.scss */
#home .header p {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 100;
  color: #e5e5e5;
  font-size: 14px;
}

/* line 196, ../scss/style.scss */
#about .pic {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 198, ../scss/style.scss */
#about .pic #terminal {
  max-height: 600px;
}
/* line 203, ../scss/style.scss */
#about .text {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 205, ../scss/style.scss */
#about .text p {
  padding-right: 20px;
  padding-bottom: 15px;
}
/* line 213, ../scss/style.scss */
#about #bargraph .bar {
  fill: #00CC00;
}
/* line 217, ../scss/style.scss */
#about #bargraph .bar:hover {
  fill: brown;
}
/* line 221, ../scss/style.scss */
#about #bargraph .axis {
  fill: #00CC00;
  font: 10px sans-serif;
}
/* line 226, ../scss/style.scss */
#about #bargraph .axis path,
#about #bargraph .axis line {
  fill: none;
  stroke: #00CC00;
  shape-rendering: crispEdges;
}
/* line 233, ../scss/style.scss */
#about #bargraph .x.axis path {
  /*display: none;*/
}

/* line 239, ../scss/style.scss */
#junks {
  background: rgba(0, 0, 0, 0.9);
}
/* line 242, ../scss/style.scss */
#junks .page-section {
  width: 90%;
  margin: 0 auto;
}
/* line 246, ../scss/style.scss */
#junks .item {
  width: 130px;
}

/* line 253, ../scss/style.scss */
#zine {
  background: rgba(0, 0, 0, 0.9);
}
/* line 257, ../scss/style.scss */
#zine h3 {
  font-size: 40px;
}
/* line 260, ../scss/style.scss */
#zine h4 {
  margin-top: 10px;
}
/* line 263, ../scss/style.scss */
#zine .text {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 266, ../scss/style.scss */
#zine .text p {
  padding-left: 30px;
  padding-bottom: .8em;
}
/* line 270, ../scss/style.scss */
#zine .text h5 {
  padding-left: 30px;
  text-align: justify;
}
/* line 276, ../scss/style.scss */
#zine .pic {
  float: left;
  width: 66.66667%;
  margin-left: 33.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 283, ../scss/style.scss */
#galerie {
  background: rgba(0, 0, 0, 0.9);
}
/* line 286, ../scss/style.scss */
#galerie .galerie {
  max-height: 100%;
}

/* line 292, ../scss/style.scss */
#contact .page-section {
  padding-top: 10%;
}
/* line 295, ../scss/style.scss */
#contact p {
  text-align: center;
  padding-bottom: 8px;
}
/* line 299, ../scss/style.scss */
#contact .special-request {
  width: 50%;
  margin: 0 auto;
}

/* Media Queries */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  /* line 15, ../scss/media.scss */
  #about .pic {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 20, ../scss/media.scss */
  #about .text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 28, ../scss/media.scss */
  #zine .text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 32, ../scss/media.scss */
  #zine .pic {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 43, ../scss/media.scss */
  h1 {
    font-size: 100px;
    margin-top: 50px;
  }

  /* line 48, ../scss/media.scss */
  #home .header p.intro-line {
    font-size: 16px;
  }

  /* line 52, ../scss/media.scss */
  #about .text p, #zine .text p {
    padding: 5px 25px;
  }

  /* line 56, ../scss/media.scss */
  .lower-page {
    padding: 50px 0;
  }

  /* line 60, ../scss/media.scss */
  #zine .text h5 {
    padding: 10px 25px 40px 25px;
  }

  /* line 64, ../scss/media.scss */
  #contact .special-request {
    width: 60%;
  }

  /* line 68, ../scss/media.scss */
  h2 {
    font-size: 40px;
  }
}
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 84, ../scss/media.scss */
  h1 {
    padding-top: 35px;
    font-size: 105px;
  }

  /* line 89, ../scss/media.scss */
  .lower-page {
    padding: 50px 0;
  }

  /* line 93, ../scss/media.scss */
  #home .header p.intro-line {
    font-size: 16px;
  }

  /* line 97, ../scss/media.scss */
  h3 {
    font-size: 55px;
  }

  /* line 101, ../scss/media.scss */
  #zine .text {
    padding-bottom: 20px;
  }

  /* line 105, ../scss/media.scss */
  #about .text p, #zine .text p {
    padding: 5px 20px;
  }

  /* line 109, ../scss/media.scss */
  #zine .text h5 {
    padding: 5px 20px 20px 20px;
  }

  /* line 113, ../scss/media.scss */
  #contact .special-request {
    width: 70%;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 123, ../scss/media.scss */
  h1 {
    margin-top: 50px;
    font-size: 80px;
  }

  /* line 128, ../scss/media.scss */
  h2 {
    font-size: 30px;
  }

  /* line 132, ../scss/media.scss */
  p {
    padding: 5px 5px;
  }

  /* line 138, ../scss/media.scss */
  #home .header p .intro-line {
    font-size: 12px;
  }

  /* line 143, ../scss/media.scss */
  #about .text p, #zine .text p {
    padding: 5px 5px;
  }

  /* line 147, ../scss/media.scss */
  #zine .text h5 {
    padding: 10px 5px 20px 5px;
  }

  /* line 151, ../scss/media.scss */
  #contact .special-request {
    width: 100%;
  }
}
