<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Junkware Terminal</title>
      {% assets "terminal_css" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
      {% endassets %}
</head>
<body>

    <div id="container">
        <div id="content">
            <div id="terminal-container">
                 <div id="terminal"></div>
            </div>
        </div>
    </div>


 <script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
 <script type="text/javascript" src="/js/jquery.timer.js"></script>
 <script type="text/javascript" src="/js/ether.js"></script>

 <script>
    $( document ).ready(function() {

        startMessaging();

            // $("#glitchContent").mouseOver(function(){
            //     startGlitch();
                // console.log('test');
                // console.log(glitchAmount);
                // else $("#glitchCanvas").toggle();
            // })
});
</script>
</body>
