@import "compass/reset";
@import "compass/css3";

@import "plugins/zen";
@import "plugins/fancybox";

@import "includes/mixins";
@import "includes/layout";
@import "includes/typo";
@import "includes/colors";

@import "includes/terminal"; 
@import "includes/items-grid"; 

$zen-column-count: 12;  
// $zen-gutter-width:0;
$zen-grid-width:100%;

em  {
    color : $highlight-color;
    font-weight:800;

}
a, a:visited {
    text-decoration: none;
    color:$link-color;
}

a:hover {
    color:$link-hover-color;
}

// h3:hover, p:hover {
//     color:$title-hover-color;
// }

img {
    max-width: 100%;
    height: auto;
}

#about {
    padding-top: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 15;

    .footer-bg {
        position: fixed;
        width: 300px;
        height: 85px;
        left: 0;
        bottom: 0;
        background: url(../img/footer-bg.png) no-repeat left bottom;
    }

}

.nav-menu {

    font-family: 'LeagueGothicRegular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    width: auto;
    bottom: 3px;
    left: 14px;
    padding: 0;
    position: absolute;
    z-index: 10;

    a.menu-trigger {
        background: url(../img/menu-trigger-black.png) no-repeat;
        width: 30px;
        height: 30px;
        margin: 0 0 0 20px;
        padding: 0;
        text-indent: -10000px;
    }

    a.menu-trigger:hover {
        background: url(../img/menu-trigger-white.png) no-repeat;
        width: 30px;
        height: 30px;
        text-indent: -10000px;
    }

    a {
        color: #000;
        font-weight: normal;
        text-decoration: none;
    }

    a:hover {
        color: #555;
    }

    ul, li {
        margin: 0;
        padding: 0;
    }

    .lifting {
        margin: 0 0 8px 10px;
        height: 20px;
    }

    .left-bottom .lifting-first {
        margin: 0 0 14px 0;
        height: 20px;
    }

    li a, li {
        float: left;
        text-transform: uppercase;
        height: 20px;
    }

    li {
        position: relative;
        margin: 7px 0 0 0;
        padding: 0 0 10px 0;
        background: none;
    }

    li a {
        padding: 0 5px 10px 5px;
        text-decoration: none;
        -moz-transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
    }

    li a:hover {
        background: none;
    }

    li ul {
        display: none;
        left: 0;
        position: absolute;
        bottom: 100%;
        background: none;
    }

    li:hover ul {
        display: block;
        width: auto;
    }

    li ul a {
        white-space: nowrap;
    }

    li ul a:hover {
        color: #555;
    }
}

#home {

    background: url(/uploads/finger_tent.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .header {
        position: relative;
        top : 190px;
        text-align: center;

        p.intro-line {
            font-size: 20px;
        }
        p:hover {
            color:$title-hover-color;
        }

        p {
            font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            font-weight: 100;
            color: $home-intro-color;
            font-size: 14px;
        }
    }
}

#about {
    $zen-column-count: 16;
        #bargraph {
        
        .bar {
          fill: #00CC00;
        }

        .bar:hover {
          fill: brown;
        }

        .axis {
          fill: #00CC00;
          font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #00CC00;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          /*display: none;*/
        }
        
        
    }
}

#junks {
    background: rgba(0,0,0,.9);

    .page-section {
        width: 90%;
        margin : 0 auto;
    }
    .item {
        width: 130px;
        // padding: 5px;
        // width: calc(100%/3);
    }
}
.text {
        @include zen-grid-item(4, 1);
        // padding: 0 30px 15px 30px;
        p {
            padding-left: 30px;
            padding-bottom: .8em;
        }
        h5 {
            padding-left: 30px;
            text-align: justify;

        }
    }
    .pic {
        // padding-top: 50px;
        @include zen-grid-item(8, 5);
    }

#zine {

    h3 {
        font-size:40px;
    }
    h4 {
        margin-top: 10px;
    }
}

#galerie {
    background: rgba(0,0,0,.9);
    .galerie {
        max-height:100%;
    }
}

#contact {
    text-align: center;
    .page-section {
        padding-top: 10%;
    }
    p {
        text-align: center;
        padding-bottom: 8px;
    }
    .special-request {
        // @include zen-grid-item(6, 6);
        width:50%;
        margin: 0 auto;
    }
    .logo {
        max-width: 150px ;
    }
}
